<%# Evaluate for validation errors %>
<% if @user.errors.any? %>
<div id="error_explanation">
  <%# Summarize error count %>
  <h2><%= pluralize(@user.errors.count, "error") %> blocked saving this user:</h2>

  <%# Iterate over and display errors %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%# Begin form section %>
<div>
    <%# Utilizing form_with helper for @user %>
    <%= form_with model: @user, local: true do |form| %>
        <%# Field for user's username %>
        <%= form.label :username, "Username" %>
        <%= form.text_field :username %>

        <%# Field for user's email address %>
        <%= form.label :email, "Email" %>
        <%= form.text_field :email %>

        <%# Field for user's password, hidden input %>
        <%= form.label :password, "Password" %>
        <%= form.password_field :password %>

        <%# Form submission button %>
        <%= form.submit "Submit" %>

    <% end %>
</div>
